# Object files
*.o
*.d
*.lst
*.map

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.bin
*.axf

# Additional Libraries
TivaWare

# Other Files
.swp
